<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../public/javascript/main.js" ></script>
    <title>Thông Báo</title>
</head>
<body>
    <!-- navigationbar -->
    <nav>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/departments">Department</a></li>
            <li><a href="/notification">Notification</a></li>
            <li><a href="/profile/<%=userLogin._id%>">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <label id="icon">
            <i class="fa fa-bars"></i>
        </label>
    </nav>

    <!-- webbody -->
    <div class="center">
        <h1>Thông báo mới</h1><br>
        <div id="edit">
            <form action="/addNotification" method="POST">
                <label for="chuyenmuc">Chuyên mục:</label><br>
                <select name="chuyenmuc" id="chuyenmuc">
                    <option value="CTHSSV">Phòng Công tác học sinh sinh viên</option>
                    <option value="PDH">Phòng Đại học</option>
                    <option value="PSDH">Phòng Sau đại học</option>
                    <option value="DTMT">Phòng điện toán và máy tính</option>
                    <option value="KTCL">Phòng khảo thí và kiểm định chất lượng</option>
                    <option value="TC">Phòng tài chính</option>
                    <option value="CLC">TDT Creative Language Center</option>
                    <option value="TH">Trung tâm tin học</option>
                    <option value="SDTC">Trung tâm đào tạo phát triển xã hội (SDTC)</option>
                    <option value="ATEM">Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM)</option>
                    <option value="KL">Trung tâm hợp tác doanh nghiệp và cựu sinh viênKhoa Luật</option>
                    <option value="ET">Trung tâm ngoại ngữ - tin học – bồi dưỡng văn hóa</option>
                    <option value="UEF">Viện chính sách kinh tế và kinh doanh</option>
                    <option value="MTCN">Khoa Mỹ thuật công nghiệp</option>
                    <option value="DDT">Khoa Điện – Điện tử</option>
                    <option value="IT">Khoa Công nghệ thông tin</option>
                    <option value="QTKD">Khoa Quản trị kinh doanh</option>
                    <option value="BHLD">Khoa Môi trường và bảo hộ lao động</option>
                    <option value="LDCD">Khoa Lao động công đoàn</option>
                    <option value="TCNH">Khoa Tài chính ngân hàng</option>
                    <option value="GDQT">Khoa giáo dục quốc tế</option>
                </select><br><br>
                <label for="postName">Tiêu đề:</label><br>
                <input type="text" name="postName"><br><br>
                <label for="detail">Nội dung:</label><br>
                <textarea class="status-input" name="detail"placeholder="Nhập nội dung..."></textarea><br>
                <button class="btn edit-btn">Submit</button>
            </form> 
            <% if(locals.error){%>
                <div class="errorMessage">
                  <p><%= error %></p>
                </div>
              <% }%>
        </div>

    </div>

</body>
</html>